.list {
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
.list-item.active {
  background-color: #0d6efd44;
}
.list-item:hover {
  cursor: pointer;
  background-color: #00000022;
}