/* fira-sans-regular - latin-ext_latin_greek-ext_greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body,
head {
  height: 100vh;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#admin-app-container {
  background: #f1f4f6;
  overflow: hidden !important; 
  /* so that inside is scrollable */
}

#admin-sidebar-panel {
  background-color: #fff;
  padding-bottom: 2rem;
  /* box-shadow: 10px 0px 10px #ddd; */
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll {
  overflow: scroll;
}

.scroll-y::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 4px; height: 4px;
}

.scroll-y::-webkit-scrollbar-track,
.scroll-x::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scroll-y::-webkit-scrollbar-thumb,
.scroll-x::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: #ccc; 
}

.scroll-y::-webkit-scrollbar-thumb:hover,
.scroll-x::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/* #admin-sidebar-panel::-webkit-scrollbar,
#admin-side-panel::-webkit-scrollbar {
  width: 4px;
} */

/* Track */
/* #admin-sidebar-panel::-webkit-scrollbar-track,
#admin-side-panel::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
/* #admin-sidebar-panel::-webkit-scrollbar-thumb,
#admin-side-panel::-webkit-scrollbar-thumb {
  background: #ccc; 
} */

/* Handle on hover */
/* #admin-sidebar-panel::-webkit-scrollbar-thumb:hover,
#admin-side-panel::-webkit-scrollbar-thumb:hover {
  background: #888; 
} */

.sidebar-panel {
  flex-basis: 260px;
  flex-shrink: 0;
  width: 260px;
  transition: all 200ms;
}

.sidebar-panel.collapsed {
  width: 0;
  flex-basis: 0px;
}

#admin-sidebar-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#admin-sidebar-panel ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}

#admin-sidebar-panel ul > li:first-child {
  margin-top: 0.5em;
}

#admin-sidebar-panel li > a {
  padding: 0.25rem 0.65rem;
  text-decoration: none;
  color: #6c757d;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  border-top: 1px solid #315b7600;
  transition: all 0.2s ease-out;
}

#admin-sidebar-panel ul > li a.active {
  color: #1f4f98;
  background-color: #e0f3ff;
  border-top: 1px solid #315b7677;
  border-radius: .5rem;
  transition: all 0.2s ease-out;
}

#admin-sidebar-panel ul > li a:hover {
  /* background-color: #e0f3ff; */
  color: #6c757d;
  background-color: #efefef;
  border-top: 1px solid #ccc;
  border-radius: .5rem;
  transition: all 0.2s ease-out;
}


#admin-sidebar-panel ul > li.admin-sidebar-heading {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  color: #0d6efd;
  margin: 1rem 0;
  padding-left: .5rem;
}

#admin-sidebar-panel li > a.has-submenu {
  color: #6c757d;
  background-color: #efefef;
  border-top: 1px solid #ccc;
  /* background-color: #e0f3ff; */
  transition: all 0.2s ease-out;
  border-radius: .5rem;
  /* color: #1f4f98; */
}

#admin-sidebar-panel li > a.has-submenu::after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: initial;
  right: 1em;
  transform: rotate(45deg) translate(0, -50%);
  transform-origin: top;
  top: 50%;
  transition: all 0.2s ease-out;
}

#admin-sidebar-panel li > a.has-submenu.collapsed {
  background-color: #fff;
  border-top: 1px solid #fff0;
  /* color: #6c757d; */
  /* background-color: #efefef;
  /* border-top: 1px solid #ccc; */
  /* background-color: #e0f3ff; */
  transition: all 0.2s ease-out;
  /* color: #6c757d; */
}

#admin-sidebar-panel li > a.has-submenu:hover {
  /* color: #1f4f98;
  background-color: #e0f3ff; */
  color: #6c757d;
  background-color: #efefef;
  border-top: 1px solid #315b7644;
  transition: all 0.2s ease-out;
}

#admin-sidebar-panel li > a.has-submenu.collapsed::after {
  transform: rotate(-45deg) translate(0, -50%);
}

#admin-sidebar-panel a.has-submenu.collapsed + ul {
  display: none;
}

#admin-sidebar-panel li > a .bi {
  font-size: 1.5em;
  margin-right: 0.75rem;
  font-weight: normal;
}

#admin-sidebar-panel ul ul {
    content: '';
    height: 100%;
    opacity: 1;
    border-left: 4px solid #efefef;
    margin-left: 0.65em;
}


#admin-sidebar-panel ul ul > li > a {
  padding: 0.45rem 1.5em;
  margin-left: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  color: #6c757d;
  font-weight: normal;
}


#admin-side-panel {
  background-color: #fff;
  overflow: hidden !important; /* to make inside scrollable */
  padding-bottom: 2.5rem;
  font-size: 0.85rem;
}

#admin-side-panel .side-panel-container {
  overflow-y: scroll;
}

.side-panel {
  width: 280px;
  transition: all 200ms;
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100vh - 3.3rem);
}

.side-panel.collapsed {
  width: 0;
}



#admin-content-panel {
  background: rgba(255,255,255,0.35);
  position: relative;
}


#admin-bottom-panel .sidebar-panel {
  overflow: hidden;
  white-space: nowrap;
}


